<section>
    <header style="background-color: darksalmon; align-content: center;">
        <h3 style="text-align-last: center;">HEADER ANGULAR 19</h3>
    </header>
    <menu style="background-color: cornflowerblue; align-content: center;">
        <h3>
            <app-side-bar></app-side-bar>
        </h3>
    </menu>
</section>
<section style="padding-left: 5cm;">
    <router-outlet></router-outlet>
    <app-menu></app-menu>
    <!-- <app-heading [title]="heading"></app-heading> -->
    <app-heading [user]="user" (success)="onSuccess($event)"></app-heading>
</section>
<section>
    <app-life-cycle-hooks></app-life-cycle-hooks>
</section>


